<script type="text/javascript" charset="utf-8" src="__PUBLIC__/admin/baidu/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/admin/baidu/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/admin/baidu/lang/zh-cn/zh-cn.js"></script>
<div style="padding:3px 2px;border-bottom:1px solid #ccc">修改操作------- <a href="{:url('Indexpage/sharelist')}">案例列表</a></div>
<br/>
<form action="{:url('Indexpage/sharesaveadd')}" enctype="multipart/form-data" method="post" >
    <table>
        <tr>
            <td style="width:50px">修改案例详情标题：</td>
            <td style="width:50px">{$sharesave.share}</td>
            <td style="width:50px"><input type="text" name="share"></td>
            <td style="width:50px"><font style="color:red"></font></td>
        </tr>
        <tr><td colspan="4">&nbsp <input type="hidden" value="{$sharesave.s_id}" name="s_id"></td></tr>
        <tr><td colspan="4">修改内容</td></tr>
        <tr><td colspan="4">
<textarea name="contents" id="content">
    {$sharesave.contents}
</textarea>
    </table>
    </td></tr>
    <tr><td colspan="4"><input type="submit" value="确认修改"></td></tr>
    <span style="display:none" id="error">{if condition="isset($error)" }{$error}{else}0{/if}</span>
</form>
<script>
    $(function(){
        var ue = UE.getEditor('content');

        var error=$("#error").html();
        if(error!="0"){
            alert(error);
        }
    })
</script>