<div style="padding:3px 2px;border-bottom:1px solid #ccc">密码修改</div>
<br>
<div class="easyui-panel" title="填写信息" style="width:100%;max-width:60%;padding:30px 60px;">
    <form id="ff" class="easyui-form" method="post" data-options="novalidate:true">
        <div style="margin-bottom:20px">
            <span>旧 密 码：</span>
            <td><input  name="password"  onblur="check_one()"  style="width:150px"><span id="cue"></span></td>
        </div>
        <div style="margin-bottom:20px">
            <span>新 密 码：</span>
            <td><input  name="new_code"  onblur="check_two()" type="password"  style="width:150px"><span id="cue1"></span></td>
        </div>
        <div style="margin-bottom:20px">
            <span>确认新密码：</span>
            <td><input  name="confirm_pass"  onblur="check_three()" type="password"  style="width:150px"><span id="cue2"></span></td>
        </div>
    </form>
    <div style="text-align:center;padding:5px 0">
        <input type="button"  value="确认修改">
    </div>
</div>
<script>
    var flose=false;
    var flose1=false;
    function check_one()
    {
        password=$("input[name=password]").val();
        if(password=="")
        {
            $("#cue").html("<span style='color:red' id='cue'>不能为空</span>");
            return false;
        }
        $.post("{:url('personal/one_password')}",{password:password},function(data)
        {
            if(data==1)
            {
                $("#cue").html("<span style='color:blue' id='cue'>密码正确</span>");
                flose=true;
                return flose;
            }else
            {
                $("#cue").html("<span style='color:red' id='cue'>原密码错误</span>");
                flose=false;
                return flose;
            }
        });
        return flose;
    }
    function check_two()
    {
        new_code=$("input[name=new_code]").val();
        password=$("input[name=password]").val();
        if(new_code.indexOf(" ")!=-1)
        {
            $("#cue1").html("<span style='color:red' id='cue1'>不能使用非法字符</span>");
            return false;
        }
        if(new_code=="")
        {
            $("#cue1").html("<span style='color:red' id='cue1'>不能为空</span>");
            return false;
        }
        if(new_code==password)
        {
            $("#cue1").html("<span style='color:red' id='cue1'>不能与原密码相同</span>");
            return false;
        }
        $.post("{:url('personal/two_password')}",{new_code:new_code,password:password},function(data)
        {
            if(data==1)
            {
                $("#cue1").html("<span style='color:blue' id='cue1'>可以使用</span>");
                flose1=true;
                return flose1;
            }else{
                $("#cue1").html("<span style='color:red' id='cue1'>密码不能小于6位</span>");
                flose1=false;
                return flose1;
            }
        });
        return flose1;
    }
    function check_three()
    {
        confirm_pass=$("input[name=confirm_pass]").val();
        new_code=$("input[name=new_code]").val();
        if(confirm_pass=="")
        {
            $("#cue2").html("<span style='color:red' id='cue2'>不能为空</span>");
            return false;
        }
        if(confirm_pass==new_code){
            $("#cue2").html("<span style='color:blue' id='cue2'>可以使用</span>");
            return true;
        }else{
            $("#cue2").html("<span style='color:red' id='cue2'>确认密码不一致</span>");
            return false;
        }
    }
    $("input[type=button]").click(function()
    {
        new_code=$("input[name=new_code]").val();
        if(check_one() && check_two() && check_three()){
            $.post("{:url('personal/verify_password')}",{new_code:new_code},function(data){
                if(data==1)
                {
                    alert("请重新登陆");
                    location.href="login/login";
                    parent.location.reload();
                }
            })
        }
    })
</script>