<!--startprint-->
<div style="padding:3px 2px;border-bottom:1px solid #ccc">活动报名表</div>    <br/>
    <h3 style="padding:3px 2px;width:500px;border-bottom:1px solid #ccc">已登录报名人数:{$num.two}人  未登录报名人数:{$num.one}人</h3>
    <table class="easyui-datagrid"  style="width:88%;height:auto;">
    <thead>
        <tr>
            <th field="name1" width="15%">ID</th>
            <th field="name2" width="25%">昵称</th>
            <th field="name3" width="35%">手机号</th>
            <th field="name4" width="26%">帐号状态</th>
        </tr>
        </thead>
        <tbody>
        {foreach $data as $key=>$vl}
        <tr>
            <td>{$key+1}</td>
            <td>{$vl.username}</td>
            <td>{$vl.tell}</td>
            {if condition="isset($vl.uid)"}
            <td>已注册</td>
            {else}
            <td><span style="color: red" >未注册</span></td>
            {/if}
        </tr>
        {/foreach}
        </tbody>
    </table>
<!--endprint-->
<button type="button" onclick="doPrint()">打印</button>
</body>
</html>
<script type="text/javascript">
    function doPrint() {
        bdhtml=window.document.body.innerHTML;
        sprnstr="<!--startprint-->"; //标记开始打印地方
        eprnstr="<!--endprint-->";   //标记打印结束的地方
        prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+17);
        prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));
        window.document.body.innerHTML=prnhtml;
        window.print();
        window.document.body.innerHTML=bdhtml;
    }
</script>
