<div style="padding:3px 2px;border-bottom:1px solid #ccc">活动列表</div>    <br/>
<a href="{:url('index/activity/activity_add')}">添加活动</a>
<table id="tt" class="easyui-datagrid" style="width:100%;height:auto;">
    <thead>

    <tr>
        <th field="name1"   width="20%">活动ID</th>
        <th field="name2" width="20%">活动地点</th>
        <th field="name3" width="20%">开始时间</th>
        <th field="name4" width="20%">结束时间</th>
        <th field="name7" width="22%">设置</th>
    </tr>
    </thead>
    <tbody>
    {foreach $arr as $v}
    <tr id="tr_{$v.l_id}">
        <td>{$v.l_id}</td>
        <td>{$v.l_place}</td>
        <td>{$v.l_stime}</td>
        <td>{$v.l_etime}</td>
        <td><a href="javascript:;" class="easyui-linkbutton"  iconCls="icon-cancel">删除</a><input type="hidden" value="{$v.l_id}">
        </td>
    </tr>
    {/foreach}
    </tbody>
</table>
<script>
    $(function(){
        $('.easyui-linkbutton').click(function(){
            //alert(1);
            var obj=$(this);
            var l_id=$(this).next("input[type='hidden']").val();
            //alert(l_id);
            confirm_ = confirm('是否删除此数据？');

            if(confirm_){

                $.ajax({

                    type:"POST",
                    url:'activity_delete',
                    data:{'l_id':l_id},
                    success:function(msg){

                        if(msg==1){

                            $(obj).parent().parent().parent().remove();

                        }else{

                            alert("删除失败");
                            location.href='index';
                        }
                    }
                });

            }
        });
    });
    // function activity_del(l_id){
    //var obj=$(this);
    //$("#tr_"+l_id).remove();


    //}

</script>
