
<div style="padding:3px 2px;border-bottom:1px solid #ccc">运动记录卡</div>    <br/>
<div id="tb" style="padding:3px">
    <form style="float:left;" action="{:url('Motion/index')}" method="get">
        <span>订单号:</span>
        {if condition="isset($page.out_trade_no)" }
        <input id="itemid" style="line-height:26px;border:1px solid #ccc" type="text"  name="out_trade_no" value="{$page.out_trade_no}">
        {else}
        <input id="itemid" style="line-height:26px;border:1px solid #ccc" type="text"  name="out_trade_no">
        {/if}
        <span>支付状态:</span>
        <select style="height:29px" name="is_pay">
            <option value="">请选择</option>
            <option value="0">未支付</option>
            <option value="1">已支付</option>
        </select>
        <span>报告状态:</span>
        <select style="height:29px" name="status">
            <option value="">请选择</option>
            <option value="0">未生成</option>
            <option value="1">已生成</option>
        </select>
        <input style="line-height:26px;border:1px solid #ccc" type="submit" value="搜索">
    </form>
</div>
<table id="tt" class="easyui-datagrid"  style="width:100%;height:auto;">
    <thead>
    <tr>
        <th field="name1"   width="20%">订单号</th>
        <th field="name2" width="15%">申请人</th>
        <th field="name3" width="15%">申请时间</th>
        <th field="name4" width="15%">是否生成报告</th>
        <th field="name5" width="15%">是否支付</th>
        <th field="name6" width="20%">操作</th>
    </tr>
    </thead>
    {if condition="!empty($data)" }
    {foreach $data as $vl}
    <tbody>
    <tr id="tr_{$vl.u_id}">
        <td>{$vl.out_trade_no}</td>
        <td>{$vl.name}</td>
        <td>{$vl.add_time}</td>
        <td>
            {if condition="$vl.status == 0"}
            <span style="color:red">未生成</span>
            {elseif condition="$vl.status == 1"/}
            <span style="color:green">已生成</span>
            {/if}
        </td>
        <td>
            {if condition="$vl.is_pay == 0"}
            <span style="color:red">未支付</span>
            {elseif condition="$vl.is_pay == 1"/}
            <span style="color:green">已支付</span>
            {/if}
        </td>
        <td>
            <a href="{:url('motiondetails')}?u_id={$vl.u_id}&begin_time={$vl.begin_time}&end_time={$vl.end_time}&order_id={$vl.order_id}" class="easyui-linkbutton">查看详情</a><input type="hidden" value="">
            <a href="javascript:;" class="easyui-linkbutton"  iconCls="icon-cancel">删除</a><input type="hidden" value="">
        </td>
    </tr>
    {/foreach}
    {if condition="isset($page.is_pay) && isset($page.status)" }
    <td><span>一共{$page.leaf}--页</span></td>
    <td><span>当前第{$page.page}--页</span></td>
    <td><a href="{:url('Motion/index')}?page={$page.lastpage}&&is_pay={$page.is_pay}&&status={$page.status}">上一页</a></td>
    <td><a href="{:url('Motion/index')}?page={$page.nextpage}&&is_pay={$page.is_pay}&&status={$page.status}">下一页</a></td>
    {elseif condition="isset($page.is_pay)" }
    <td><span>一共{$page.leaf}--页</span></td>
    <td><span>当前第{$page.page}--页</span></td>
    <td><a href="{:url('Motion/index')}?page={$page.lastpage}&&is_pay={$page.is_pay}">上一页</a></td>
    <td><a href="{:url('Motion/index')}?page={$page.nextpage}&&is_pay={$page.is_pay}">下一页</a></td>
    {elseif condition="isset($page.status)" }
    <td><span>一共{$page.leaf}--页</span></td>
    <td><span>当前第{$page.page}--页</span></td>
    <td><a href="{:url('Motion/index')}?page={$page.lastpage}&&status={$page.status}">上一页</a></td>
    <td><a href="{:url('Motion/index')}?page={$page.nextpage}&&status={$page.status}">下一页</a></td>
    {else /}
    <td><span>一共{$page.leaf}--页</span></td>
    <td><span>当前第{$page.page}--页</span></td>
    <td><a href="{:url('Motion/index')}?page={$page.lastpage}">上一页</a></td>
    <td><a href="{:url('Motion/index')}?page={$page.nextpage}">下一页</a></td>
    {/if}
    </tr>
    </tbody>
    {/if}
</table>