
<div style="padding:3px 2px;border-bottom:1px solid #ccc">运动记录卡</div>    <br/>
<div id="tb" style="padding:3px">
    <form style="float:left;" action="{:url('Motion/index')}" method="get">
        <span>订单号:</span>
        {if condition="isset($page.out_trade_no)" }
        <input  style="line-height:26px;border:1px solid #ccc" type="text"  name="out_trade_no" value="{$page.out_trade_no}">
        {else}
        <input  style="line-height:26px;border:1px solid #ccc" type="text"  name="out_trade_no">
        {/if}
        <span>申请人:</span>
        {if condition="isset($page.name)" }
        <input  style="line-height:26px;border:1px solid #ccc" type="text"  name="name" value="{$page.name}">
        {else}
        <input  style="line-height:26px;border:1px solid #ccc" type="text"  name="name">
        {/if}
        <span>证件号:</span>
        {if condition="isset($page.id_number)" }
        <input  style="line-height:26px;border:1px solid #ccc" type="text"  name="id_number" value="{$page.id_number}">
        {else}
        <input  style="line-height:26px;border:1px solid #ccc" type="text"  name="id_number">
        {/if}
        <span>支付状态:</span>
        <select style="height:29px" name="is_pay">
            <option value="" {if condition="empty($page.is_pay)" } selected {/if}>请选择</option>
            <option value="0" {if condition="$page.is_pay == 0 && $page.is_pay!==''" } selected {/if}>未支付</option>
            <option value="1" {if condition="$page.is_pay == 1" } selected {/if}>已支付</option>
        </select>
        <span>处方状态:</span>
        <select style="height:29px" name="status">
            <option value="" {if condition="empty($page.status)" } selected {/if}>请选择</option>
            <option value="0" {if condition="$page.status == 0 && $page.status!==''" } selected {/if}>未生成</option>
            <option value="1" {if condition="$page.status == 1" } selected {/if}>已生成</option>
        </select>
        <input style="line-height:26px;border:1px solid #ccc" type="submit" value="搜索">
    </form>
</div>
<table id="tt" class="easyui-datagrid"  style="width:100%;height:auto;">
    <thead>
    <tr>
        <th field="name1" width="23%">订单号</th>
        <th field="name2" width="9%">申请人</th>
        <th field="name7" width="18%">证件号</th>
        <th field="name3" width="12%">申请时间</th>
        <th field="name5" width="8%">是否支付</th>
        <th field="name4" width="12%">是否生成处方</th>
        <th field="name6" width="20%">操作</th>
    </tr>
    </thead>
    {if condition="!empty($data)" }
    {foreach $data as $vl}
    <tbody>
    <tr id="tr_{$vl.u_id}">
        <td>{$vl.out_trade_no}</td>
        <td>{$vl.name}</td>
        <td>{$vl.id_number}</td>
        <td>{$vl.add_time}</td>
        <td>
            {if condition="$vl.is_pay == 0"}
            <span style="color:red">未支付</span>
            {elseif condition="$vl.is_pay == 1"/}
            <span style="color:green">已支付</span>
            {/if}
        </td>
        <td>
            {if condition="$vl.status == 0"}
            <span style="color:red">未生成</span>
            {elseif condition="$vl.status == 1"/}
            <span style="color:green"><a class="looks" href="{:url('Motion/look')}?order_id={$vl.order_id}">查看处方</a></span>
            {/if}
        </td>
        <td>
            <a href="{:url('Motion/motiondetails')}?u_id={$vl.u_id}&begin_time={$vl.begin_time}&end_time={$vl.end_time}&order_id={$vl.order_id}" class="looks">查看详情</a><input type="hidden" value="">
        </td>
    </tr>
    {/foreach}

    <td><span>一共{$page.leaf}--页</span></td>
    <td><span>当前第{$page.page}--页</span></td>
    <td><a href="{:url('Motion/index')}?page={$page.lastpage}&&is_pay={$page.is_pay}&&status={$page.status}&&name={$page.name}&&id_number={}" >上一页</a></td>
    <td><a href="{:url('Motion/index')}?page={$page.nextpage}&&is_pay={$page.is_pay}&&status={$page.status}&&name={$page.name}&&id_number" >下一页</a></td>
    </tbody>
    {/if}
</table>