<style type="text/css">
    .xwtable {width: 100%;border-collapse: collapse;border: 1px solid #ccc;}
    .xwtable thead td {font-size: 12px;color: #333333;text-align: center;border: 1px solid #ccc; font-weight:bold;}
    .xwtable tbody tr {background: #fff;font-size: 12px;color: #666666;}
    .xwtable tbody tr.alt-row {background: #f2f7fc;}
    .xwtable td{line-height:20px;text-align: left;padding:4px 10px 3px 10px;height: 18px;border: 1px solid #ccc;}
</style>
</head>

<body>
<table class="xwtable">
    <thead>
    <tr>
        <td>单位<input type="hidden" name="n_id" value="">
            <input type="hidden" name="u_id" value=""></td>
        <td></td>
        <td>年龄</td>
        <td></td>
        <td>性别</td>
        <td></td>
    </tr>
    <tr>
        <td>姓名</td>
        <td></td>
        <td>民族</td>
        <td></td>
        <td>出生日期</td>
        <td></td>
    </tr>
    <tr>
        <td>籍贯</td>
        <td colspan="2"></td>
        <td>测试时间</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td>测试编号</td>
        <td colspan="2"></td>
        <td>骨龄片号</td>
        <td colspan="2"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="6"></td>
    </tr>
    <tr>
        <td>序号</td>
        <td>指标</td>
        <td>值</td>
        <td>单位</td>
        <td>评价</td>
        <td>发育类型</td>
    </tr>
    <tr>
        <td>1</td>
        <td>身高</td>
        <td></td>
        <td>cm</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>2</td>
        <td>体重</td>
        <td></td>
        <td>kg</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>3</td>
        <td>胸围</td>
        <td></td>
        <td>cm</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>4</td>
        <td>GP骨龄</td>
        <td></td>
        <td>岁-月</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>5</td>
        <td>CHN骨龄</td>
        <td></td>
        <td>岁-月</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>6</td>
        <td>CH05骨龄</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>7</td>
        <td>TW3C</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>8</td>
        <td>TW3R</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="6"></td>
    </tr>
    <tr>
        <td>遗传身高</td>
        <td></td>
        <td>CM</td>
        <td>BUS-CHN预测身高</td>
        <td></td>
        <td>CM</td>
    </tr>
    <tr>
        <td>BUS-GP预测身高</td>
        <td></td>
        <td>CM</td>
        <td>BP预测身高</td>
        <td></td>
        <td>CM</td>
    </tr>
    <tr>
        <td>RWT预测身高</td>
        <td></td>
        <td>CM</td>
    </tr>
    <tr><td colspan="6"></td></tr>
    <tr><td colspan="4">专家综合评测身高</td><td></td><td>+-2CM</td></tr>
    <tr><td colspan="6"><a href="{:url('Motion/index')}">返回</a></td></tr>
    </tbody>
</table>
</body>
</html>