</head>
<body>
    <div data-role="header">
        <h1>营养均衡</h1>
    </div>
    <div data-role="content" style="padding-top: 10%;margin-bottom: 10%">
        <p style="text-indent: 2em;line-height: 2em;font-size: 18px;">
           根据测试报告中的营养摄入建议进行摄入后，将以下问题答案进行反馈，生成营养均衡指导报告，建议每一个月更新一次
        </p>
        <p style="text-indent: 2em;line-height: 2em;font-size: 18px; margin-bottom: 5%">费用：每人每次<font color="red">199</font>元</p>
        <hr>
        <div style="text-align: center;">
            <!-- <p>网页内容为运动处方需填写的数据要求</p> -->
            <textarea name="" maxlength="300" placeholder="网页内容为营养均衡指导需填写的数据要求" id="" cols="30" rows="10" style="height: 300px;"></textarea>
            <font color="red">最大可以输入300个字</font>
        </div>
        <hr>
        <a href="#" data-role="button" data-corners="false" style="width: 100px;margin: 0 auto;"  >提交</a>
    </div>

