#Container{
    width:100%;
    height: 100%;
    margin:0 auto;/*设置整个容器在浏览器中水平居中*/
    background:#CF3;
}
#Content{
    height:100%;
    /*此处对容器设置了高度，一般不建议对容器设置高度，一般使用overflow:auto;属性设置容器根据内容自适应高度，如果不指定高度或不设置自适应高度，容器将默认为1个字符高度，容器下方的布局元素（footer）设置margin-top:属性将无效*/
    margin-top:20px;/*此处讲解margin的用法，设置content与上面header元素之间的距离*/    
}
#Content-Left{
    height:230px;
    width:55%;
    float:left;/*设置浮动，实现多列效果，div+Css布局中很重要的*/
    background:#C0C0C0;
    line-height:230px;
    text-align:center;
    font-size: 20px;
    color:#DDDDDD;
    background-image:url(../img/1.jpg);
}
#Content-Main{
    height:330px;
    width:45%;
    float:right;/*设置浮动，实现多列效果，div+Css布局中很重要的*/
    background:#D3D3D3;
    color:black;
}
#Content-Right{
    height:330px;
    width:45%;
    float: left; 
    background:#D3D3D3;
    color:black;
    background-image:url(../img/2.jpg);
}
#Content-Main-right{
    height:230px;
    width:55%;
    float:left;/*设置浮动，实现多列效果，div+Css布局中很重要的*/
    background:#C0C0C0;
    line-height:230px;
    text-align:center;
    font-size: 20px;
    color:#DDDDDD;
    background-image:url(../img/4.jpg);
}
.shuli{padding-top:30%;padding-left:20%;width:20px;line-height:24px;font-size: 20px;}
.b_main{
        width: 90%;
        height: 300px;
        border: 1px solid #000;
        margin: 10px auto;
      }