
</head>
<body>
<!-- <div data-role="header" class="header-img">
    <h1>怎么做骨龄测试？</h1>
</div> -->

    <div data-role="content" style="margin-bottom:10%">
        <div class="b_main" style="width: 90%;
        height:auto;
        margin: 10px auto;text-align:justify; text-justify:inter-ideograph; word-wrap:break-word; word-break:break-all; text-indent:2em;font-family:楷体;">
        <p>1.拍摄手腕部后前位X光片。 </p>
        <p>2.测定身高、体重和胸围。 </p>
        <p>3.评价: 根据生物发育年龄，对受试对象儿童青少儿三项生长发育指标（身高、体重和胸围）进行评价，找出它们在同年龄、同性别儿童青少年中生长发育中所处的程度和位置，并对生长发育过程中存在的问题提供参考意见，开具运动处方，并对今后发育中重要时间段进行预测，预测未来身高等。。</p>
        </div>
    </div>