   <link rel="stylesheet" href="__PUBLIC__/static/css/index.css">
</head>
<body>
  <!-- <div data-role="content" style="margin-bottom:10%;margin-top:0px;"> -->
        <div id="Container" style="margin-top:0px;">
            
              <div id="Content-Left">
                <a data-ajax="false" href="{:url('/index/index/whatBone')}">
                <div id="div1" style="text-align:center">
                  <img src="__PUBLIC__/static/img/index/Contacts-120.png"  style="margin-top:5%"/>
                  <div style="color:#fff;margin-left:auto;position:relative;top:10%;" ><p style="font-size:150%">发育迟缓的危害及如何判断发育迟缓</p></div>
                </div>
                </a>
                <a data-ajax="false" href="{:url('/index/index/whyBone')}">
                 <div id="div2" style="text-align:center">
                  <img src="__PUBLIC__/static/img/index/Search-120.png"  style="margin-top:5%"/>
                  <div style="color:#fff;margin-left:auto;position:relative;top:10%;"><p style="font-size:150%">为什么要做骨龄测试</p></div>
                 </div>
                </a>
                <a data-ajax="false" href="{:url('/index/index/whatAge')}">
                <div id="div3" style="text-align:center">
                  <img src="__PUBLIC__/static/img/index/Clock-120.png"  style="margin-top:5%"/>
                   <div style="color:#fff;margin-left:auto;position:relative;top:10%;"><p style="font-size:150%">哪个阶段需要做骨龄测试</p></div>
                </div>
                </a>                
              </div>                   
         </div>
    <!-- </div> -->
<script type="text/javascript">
$(function(){
  var winHeight = document.documentElement.clientHeight;
  var btn3Height = $(".btn3").outerHeight();
  $("#Content-Left").outerHeight(winHeight-btn3Height);
})
</script>

  


	
