   <link rel="stylesheet" href="__PUBLIC__/static/css/stylea.css">
   <link rel="stylesheet" href="__PUBLIC__/static/js/jquery.min.js">
   <link rel="stylesheet" href="__PUBLIC__/static/js/jquery-1.7.2.min.js">
</head>
<body>
<br>
    <div id="header"><!--幻灯片 开始-->
<script type="text/javascript" src="__PUBLIC__/static/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">          
$(document).ready(function(){
                $('.flexslider').flexslider({
                        controlNav: true, 
                        directionNav: false,
                        animation: "slide",
                        //manualControls: ".myflexslider .slidenav"
                    });
          });
        </script>
        <div id="banner" class="flexslider" >
        <ul class="slides">
        <li> 
        <img src="__PUBLIC__/static/img/02.jpg" />
        </li>
        <li>
        <img src="__PUBLIC__/static/img/01.png" />
        </li>
        </ul>
        </div>
        <!--幻灯片 结束-->
        </div>
        <div id="content">
        <!--导航开始-->
        <ul class="channellist">
	<li>
	<a href="javascript:;">
			  <div class="ChannelIcon one1">
			  	<img src="__PUBLIC__/static/img/15.jpg" />
			  </div>
			  	<div class="ChannelName">什么是骨龄测试</div>
		  </a>
	</li>
	<li>
			<a href="javascript:;">
				<div class="ChannelIcon one2">
					<img src="__PUBLIC__/static/img/20.jpg"  />
				</div>
				<div class="ChannelName">什么年龄做骨龄测试</div>
		</a>
	</li>
	<li>
			<a href="javascript:;">
				<div class="ChannelIcon one3">
					<img src="__PUBLIC__/static/img/23.jpg"  />
				</div>
				<div class="ChannelName">为什么做骨龄测试</div>
		</a>
	</li>
	<li>
			<a href="javascript:;">
				<div class="ChannelIcon one4">
					<img src="__PUBLIC__/static/img/30.jpg"  />
				</div>
				<div class="ChannelName">怎么做骨龄测试</div>
			</a>
	</li>
	</ul>
	</div>
		<!--导航结束-->
		<div class="clear"></div>
	</div>
<script>
    $(function(){
        $(document).on("click",".one4",function(){
            //alert(1);
            window.location.href="{:url('/index/index/howBone')}";
        })
    })
</script>
<script>
    $(function(){
        $(document).on("click",".one2",function(){
            //alert(1);
            window.location.href="{:url('/index/index/whatAge')}";
        })
    })
</script>
<script>
    $(function(){
        $(document).on("click",".one1",function(){
            //alert(1);
            window.location.href="{:url('/index/index/whatBone')}";
        })
    })
</script>
<script>
    $(function(){
        $(document).on("click",".one3",function(){
            //alert(1);
            window.location.href="{:url('/index/index/whyBone')}";
        })
    })
</script>