   <link rel="stylesheet" href="__PUBLIC__/static/css/index.css">
</head>
<body>
    <div data-role="header">
        <h1>骨龄测试</h1>
    </div>

    <div data-role="content" style="margin-bottom:10%">
        <div id="Container">
            <a href="">
              <div id="Content-Left">什么是骨龄测试</div>
            </a>
             <a href="">
              <div id="Content-Main">
                <div class="shuli">什么年龄做骨龄测试</div>
              </div>
             </a>           
            <a href="">
             <div id="Content-Right">
             <div class="shuli">为什么做骨龄测试</div></div> 
            </a>         
            <a href="">
             <div id="Content-Main-right">怎么做骨龄测试</div>  
            </a>          
                       
         </div>
    </div>

  


	
