<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/reset.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/style1.css" />
<style>

</style>
	</head>
	<body>
	<div class="warp">
		<!-- <header>
		</header> -->
		<section>
			<div class="nav">
				<ul>
                    {if condition="empty($cat)"}
					{else /}
							{foreach name='cat' item='value'}
								<li>
									<a style="font-weight: normal;" href="{:url('index/mesList')}?c_id={$value.c_id}" data-ajax="false">
										{if condition="($value.c_id == $c_id) "}
										<span class="spana" style="color: #4EC9E3">
										{$value.c_name}
										</span>
										{else /}
										<span class="spana">
										{$value.c_name}
										</span>
										{/if}
									</a>
								</li>
							{/foreach}
					{/if}
				</ul>
			</div>
			{if condition="!empty($catlist)"}
			{foreach name='catlist' item='value'}
			<div class="main1">
				<dl>
					<dt><a style=" width: 100%;height: 90%;"  href="{$value.url}" data-ajax="false"><img src="__PUBLIC__/article/{$value.img}"/></a></dt>
					<dd>
						<h1><a style="font-weight: normal;color: #000000" href="{$value.url}" data-ajax="false">{$value.title}</a></h1>
                        <h2><img src="__PUBLIC__/index/img/bone_13.png"/>{$value.c_name}</h2>
				</dl>
			</div>
			{/foreach}
			{/if}
		</section>
		<!-- <footer>
		</footer> -->
	</div>
    <br/>
    <br/>
	</body>
</html>
