
</head>
<body>
    <div data-role="header">
        <h1>在线测试</h1>
    </div>

    <div data-role="content" style="margin-bottom:10%">
       
        测试费用:每人每次费用99元（5折后的费用)
        <div class="ui-field-contain">
            <label for="name2">姓名:</label>
            <input type="text" name="name2" id="name2" value="" data-clear-btn="true">
        </div>

        <div class="ui-field-contain">
            <fieldset data-role="fieldcontain">
                <label for="age" class="select">年龄:</label>
                <select name="age" id="age" data-native-menu="false">
                    <optgroup label="年龄">
                         {for start="1" end="90"  }
                        <option value="1">{$i}岁</option>
                       {/for}
                    </optgroup>
                </select>
                <label for="body_height" class="select">身高:</label>
                <select name="body_height" id="body_height" data-native-menu="false">
                    <optgroup label="身高">
                        {for start="75" end="200"  }
                        <option value="1">{$i}cm</option>
                        {/for}
                    </optgroup>
                </select>
                <label for="weight" class="select">体重:</label>
                <select name="weight" id="weight" data-native-menu="false">
                    <optgroup label="体重">
                        {for start="10" end="100"   }
                        <option value="1">{$i}kg</option>
                        {/for}
                    </optgroup>
                </select>
            </fieldset>
        </div>
        <div class="ui-field-contain">
            <label for="name2">手部图片上传:</label>
            <input type="file"/>
            <label for="name2">脚部图片上传:</label>
            <input type="file" />
        </div>
        <div data-role="navbar" class="ui-content">
            <ul>
                <li></li>
                <li><a class="ui-btn ui-btn-inline ui-shadow ui-corner-all" href="#home" data-rel="dialog">取消</a></li>
                <li></li>
                <li><a class="ui-btn ui-btn-inline ui-shadow ui-corner-all" href="#home" data-rel="dialog">提交</a></li>
                <li></li>
            </ul>
        </div>


    </div>

