</head>
<body>
<style>
.main dl {
    display: -webkit-flex; 
    width: 100em;
    height: 1.2rem;
}
.main dl img {
    width: .7rem;
    height: 1.0rem;
    padding: .1rem; 
    border-radius:50%;}
.main dl dd {
    line-height: 1rem; 
}

.list {
  font-size: 14px; }
.list li {
    width: 100%;
    height: .50rem;
    text-indent: 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: .1rem; }
</style>
    <div data-role="header">
        <h1>个人中心</h1>
    </div>
    <div data-role="content" style="margin-bottom:10%">
        <div role="main" class="main">
            <dl>
                <dt><img src="__PUBLIC__/1.jpg"/></dt>
                <dd>
                    姓名：章克明
                </dd>
            </dl>
            <ul class="list">
                <li style="background:#DDD">
                    <a href="#">我的测试报告（每次报告结果均可查看，预测身高也在其中查看）</a>               
                </li>
                <li>
                    <a href="#">我的运动处方</a>                
                </li>
                <li style="background:#DDD">
                    <a href="#">我的营养均衡指导</a>

                </li>
            </ul>
        </div>
    </div>
<script>
    (function (doc, win) {
    var docEl = doc.documentElement,
    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
    recalc = function () {
      var clientWidth = docEl.clientWidth;
      if (!clientWidth) return;
      docEl.style.fontSize = 625 * (clientWidth / 320) + '%';
    };
 
  if (!doc.addEventListener) return;
  win.addEventListener(resizeEvt, recalc, false);
  doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script>