<style>
.xwtable {width: 100%;border-collapse: collapse;border: 1px solid #ccc;}
.xwtable thead td {width: 25%;font-size: 12px;color: #333333;text-align: center;border: 1px solid #ccc; font-weight:bold;}
.xwtable tbody tr {background: #fff;font-size: 12px;color: #666666;}
.xwtable tbody tr.alt-row {background: #f2f7fc;}
.xwtable td{line-height:20px;text-align: left;padding:4px 10px 3px 10px;height: 18px;border: 1px solid #ccc;}
</style>
</head>
<body>
<!-- <div data-role="header" class="header-img">
    <h1>什么年龄做骨龄测试？</h1>
</div> -->

    <div data-role="content" style="margin-bottom:10%">
        <div class="b_main" style="width: 90%;
        height:auto;
        margin: 10px auto;text-align:justify; text-justify:inter-ideograph; word-wrap:break-word; word-break:break-all; font-family:楷体;">
        <p style="text-indent:2em;">有两个时间点，十分重要：一次是孩子4周岁时。第二次是孩子8周岁以后，即青春发育期时，男孩子在9-14岁，女孩在8-13岁。男孩在十六七岁、女孩在十四五岁，骺软骨就会完全闭合。所以幼儿园和小学这段时间，家长要密切关注孩子的身高。</p>
 <table class="xwtable">
        <thead>
        <tr>
            <td></td>
            <td>匀速增长期</td>
            <td>缓慢增长期</td>
            <td>缓慢增长期</td>
        </tr>         
        </thead>
        <tbody>       
        <tr>
            <td style="font-weight:bold;">男孩</td>
            <td>7-11岁</td>
            <td>12-16岁</td>
            <td>17-18岁</td>
        </tr>
        <tr>
            <td style="font-weight:bold;">女孩</td>
            <td>7-9岁</td>
            <td>10-15岁</td>
            <td>16-17岁</td>
        </tr>
        <tr>
            <td style="font-weight:bold;">骨龄测试频率</td>
            <td>每年1次</td>
            <td>每半年1次</td>
            <td>每年一次</td>
        </tr>                
        </tbody>
    </table>
        </div>
    </div>