</head>
<body>
<!-- <div data-role="header" class="header-img">
    <h1>什么年龄做骨龄测试？</h1>
</div> -->

    <div data-role="content" style="margin-bottom:10%">
        <div class="b_main" style="width: 90%;
        height:auto;
        margin: 10px auto;text-align:justify; text-justify:inter-ideograph; word-wrap:break-word; word-break:break-all; text-indent:2em;font-family:楷体;">
        <p>有两个时间点，十分重要：一次是孩子4周岁时。第二次是孩子8周岁以后，即青春发育期时，男孩子在9-14岁，女孩在8-13岁。男孩在十六七岁、女孩在十四五岁，骺软骨就会完全闭合。所以幼儿园和小学这段时间，家长要密切关注孩子的身高。</p>
 
		<p>匀速增长期</p>
		<p>快速增长期</p>
		<p>缓慢增长期</p>
		<p>男孩</p>
		<p>7-11岁</p>
		<p>12-16岁</p>
		<p>17-18岁</p>
		<p>女孩</p>
		<p>7-9岁</p>
		<p>10-15岁</p>
		<p>16-17岁</p>
		<p>骨龄测试频率</p>
		<p>每年1次</p>
		<p>每半年1次</p>
		<p>每年一次</p>

        </div>
    </div>