
<div data-role="page">

    <div data-role="content" style="margin-bottom:10%">  
        <h1 style="text-align:center;font-family:楷体;">什么是骨龄测试？</h1>
        <div class="b_main" style="width: 90%;
        height:auto;
        margin: 10px auto;text-align:justify; text-justify:inter-ideograph; word-wrap:break-word; word-break:break-all; text-indent:2em;font-family:楷体;">
        <p>骨龄是骨骼年龄的简称，它借助于评价对象自身被评价部位骨骼X线片，依据相应的骨龄标准来评定。</p>
        <p>骨龄，是根据儿童少年的骨骼发育（钙化）程度同骨发育标准进行比较求得的发育年龄。骨龄是反映个体发育水平和成熟程度较精确的指标，能较客观、精确地反映从出生到成熟过程中各阶段的发育水平，在各种发育年龄中应用最广泛。骨龄在探讨生长发育规律、判断生长发育障碍性疾病、运动员选材、预测女孩月经初潮、预测儿童少年的成年身高等方面都发挥着重要作用。 </p>
        <p>发育年龄又称生物年龄或生理年龄，是指用身体的某些形态、功能、第二性征指标的发育平均水平及其正常变异，制成标准年龄，评价个体的发育状况。发育年龄有形态年龄、性征年龄、齿龄、骨龄（skeletal age）等四类。其中最实用、结果最精确、重复性最强的是骨龄。 
判断骨龄主要利用X线片。通过观察儿童少年被评价骨骼各骨化中心的出现、骨块的大小、外形变化、关节面出现及干骺愈合程度等，并和作为正常值的"骨龄标准"比较，即可判断个体的骨龄。 </p>
        <p>理论上，人体各部分骨骼均可用于判定骨骼的成熟程度，但以手腕部最为理想。主要优点是：</p>
        <p>1．手、腕骨数目、种类和形状多样。包括长骨、短骨、不规则骨和种籽骨，对全身骨骼有很好的代表性。 </p>
        <p>2．手、腕骨各继发性骨化中心的出现及掌指骨、尺桡骨的干骺愈合有明显的时间顺序，不同发育阶段问界限明确，易发现差别。</p>
        <p>3．拍片方便，投照条件易控制，受检者接受的X线剂量小，对保护儿童少年健康有利。 
骨龄评价能较准确地反映个体的生长发育水平和成熟程度，它可以确定青少儿的生物学年龄，生物学年龄是人的生长发育、成熟、衰老程度的标志，在青少儿阶段，通常把生物年龄看成生长发育的重要指标。</p>
 
       <p>由于每个人在生长发育过程中，受遗传、营养、体育锻炼、疾病等因素的影响，发育的速度并不一定和日历年龄完全一致。如有的人发育提前，骨龄大于日历年龄，也有的人骨龄小于日历年龄。通过骨龄评价可以及早了解青少儿的生长发育潜力以及性成熟的趋势。如果骨龄小于日历年龄（<1），提示青少儿生长缓慢，如果骨龄大于日历年龄（>1），提示青少儿性早熟。在青少儿的生长发育阶段，定期评价他们的发育程度，对于促进青少儿的健康成长，具有重要的意义。 
</p>
     <p>此外，骨龄的测定还对一些儿科内分泌疾病的诊断有很大帮助。</p>

        </div>
    </div>