</head>
<body>
<!-- <div data-role="header" class="header-img">
    <h1>为什么做骨龄测试？</h1>
</div> -->

    <div data-role="content" style="margin-bottom:10%">
        <div class="b_main" style="width: 90%;
        height:auto;
        margin: 10px auto;text-align:justify; text-justify:inter-ideograph; word-wrap:break-word; word-break:break-all; text-indent:2em;font-family:楷体;">
        <p>通过骨龄评价可以及早了解青少儿的生长发育潜力以及性成熟的趋势。</p>
        <p>如果骨龄小于日历年龄（<1），提示青少儿生长缓慢，如果骨龄大于日历年龄（>1），提示青少儿性早熟。</p>
        测一测骨龄可以知道孩子未来的生长潜力，若发现发育过迟或过早，可以及时干预，让孩子发育得更好
        </div>
    </div>