<script src="__PUBLIC__/static/js/md5.js" type="text/javascript"></script>
{if empty($_COOKIE['uid'])}
</head>
<body>

<!--<div data-role="header">-->
    <!--<h1>登录</h1>-->
<!--</div>-->

<div data-role="content" style="margin-bottom:10%">
    <tr>
        <td>用户名：</td>
        <td><input type="text" value="" name="u_name"></td>
    </tr>
    <tr>
        <td>密码：</td>
        <td><input type="password" value="" name="password"></td>
    </tr>

    <input type="checkbox" name="checkbox_mini" id="checkbox-mini-0" data-mini="true" value="1">
    <label for="checkbox-mini-0">记住我的密码</label>
<p id="bug"></p>
    <div data-role="navbar" class="ui-content">
        <ul><li><input data-inline="true"  type="button" id="but" value="登录"></li></ul>
    </div>
    <a href="{:url('reg/index')}" data-ajax="false">去注册</a>
</div>
<script type="text/javascript">
    //弹出垂直菜单
    $(".menu").click(function() {
        if ($(this).hasClass("cura")) {
            $(this).children(".new-sub").hide(); //当前菜单下的二级菜单隐藏
            $(".menu").removeClass("cura"); //同一级的菜单项
        } else {
            $(".menu").removeClass("cura"); //移除所有的样式
            $(this).addClass("cura"); //给当前菜单添加特定样式
            $(".menu").children(".new-sub").slideUp("fast"); //隐藏所有的二级菜单
            $(this).children(".new-sub").slideDown("fast"); //展示当前的二级菜单
        }
    });
    $(function(){
        $('#but').click(function(){
            var u_name = $('input[name="u_name"]').val();
            var password = hex_md5($('input[name="password"]').val());
            var checkbox_mini = $('input[name="checkbox_mini"]:checked').val();
            $.post('login/login',{u_name:u_name,password:password,checkbox_mini:checkbox_mini},function(msg){
                if(msg==1){
                    location.href='add'
                }else{
                    $('#bug').html("<font color='red'>用户名或密码错误</font>");
                }
           })
        })
    })
</script>
{else}
<script>location.href='add'</script>
{/if}
