<div style="padding:3px 2px;border-bottom:1px solid #ccc">收费设置</div>
<br>
<div class="easyui-panel" title="收费金额设置" style="width:100%;max-width:60%;padding:30px 60px;">

        <table id="table" cellpadding="0" cellspacing="20px;">
            <tr id="1">
                <td>线上测试费:</td><td><span>100</span></td>
            </tr>
            <tr id="2">
                <td>现场测试报名费:</td><td><span>80</span></td>
            </tr>
            <tr id="3">
                <td>预测身高附加费:</td><td><span>98</span></td>
            </tr>
        </table>

</div>
<script>
$(document).on('click','span',function(){
   var old_val=$(this).text();
    $(this).parent().html("<input type='text' value="+old_val+">");
    $('input').focus();
});
$(document).on('blur','input',function(){
    var th=$(this);
    var p_price=$(this).val();
    var id=$(this).parents('tr').attr('id');

    $.post('save',{p_price:p_price,p_id:id},function(msg){
        if(msg==1){
            th.parent().html("<span>"+p_price+"</span>");
        }else{
            alert('');
        }
    });
})
</script>

