<table id="tt" class="easyui-datagrid" style="width:100%;height:auto;">
    <thead>
    <tr>
        <th field="name1" width="15%">姓名</th>
        <th field="name2" width="15%">手机号</th>
        <th field="name3" width="15%">查看时间</th>
        <th field="name3" width="15%">报告姓名</th>
    </tr>
    </thead>
    <tbody>
        {foreach($data as $v)}
        <tr>
            <td>{$v.uname}</td>
            <td>{$v.phone}</td>
            <td>{$v.downtime}</td>
            <td>{$v.name}</td>
        </tr>
        {/foreach}
    </tbody>
</table>
<a href="index?page={$page-1}">上一页</a>
<a href="index?page={$page+1}">下一页</a>
</body>
</html>
