<style type="text/css">
    .xwtable {widtd: 100%;border-collapse: collapse;border: 1px solid #ccc;}
    .xwtable tdead td {font-size: 12px;color: #333333;text-align: center;border: 1px solid #ccc; font-weight:bold;}
    .xwtable tbody tr {background: #fff;font-size: 12px;color: #666666;}
    .xwtable tbody tr.alt-row {background: #f2f7fc;}
    .xwtable td{line-height:20px;text-align: left;padding:4px 10px 3px 10px;height: 18px;border: 1px solid #ccc;}
</style>

<form action="{:url('free/motioncreate')}" method="post">
	<table class="xwtable">
        <div style="padding:3px 2px;border-bottom:1px solid #ccc">运动处方</div>    <br/>
		<tdead>
			<tr>
				<td>姓名</td>
				<td>
                    <input type="hidden" name="o_id"  value="{$data[0]['o_id']}"/>
                    <input type="hidden" name="u_id"  value="{$data[0]['u_id']}"/>
                    <input type="text" name="name"  value="{$data[0]['name']}"/>
				</td>
				<td>性别</td>
                <td>
                    <input type="hidden" name="sex" value="{$data[0]['sex']}">
                    {if condition="$data[0]['sex'] == 1"}
                    <input type="text" value="男">
                    {elseif condition="$data[0]['sex'] == 0"/}
                    <input type="text" value="女">
                    {/if}
				</td>
                <td>编号</td>
                <td>
                    <input type="text" name="number"/>
				</td>
                <td>周数</td>
                <td>
                    <input type="text" name="week"/>
				</td>
			</tr>
			<tr>
				<td>出生年月日</td>
				<td>
                    <input type="text" name="birth" value="{$data[0]['year']}"/>
				</td>
				<td>日历年龄</td>
				<td>
                    <input type="text" name="age"/>
				</td>
				<td>骨龄</td>
				<td>
                    <input type="text" name="boneage" required="required"/>
				</td>
				<td>生长发育类型</td>
				<td>
                    <input type="text" name="grow"/>
				</td>
			</tr>
            <tr>
                <td>身高</td>
                <td>
                    <input type="text" name="height" required="required"/>
                </td>
                <td>体重</td>
                <td>
                    <input type="text" name="weight" required="required"/>
                </td>
                <td></td>
                <td>
                </td>
                <td></td>
                <td>
                </td>
            </tr>
		</tdead>
        </table>
        <table class="xwtable">
        <div style="padding:3px 2px;border-bottom:1px solid #ccc">运动负荷试验结果</div><br/>
		<tdead>
			<tr>
				<td>试验中达到最高心率（次/min）</td>
				<td>
                    <input type="text" name="heartrate" required="required"/>
				</td>
				<td>靶心率（次/min）</td>
				<td>
                    <input type="text" name="blank" required="required"/>
				</td>
				<td>血压</td>
				<td>
                    <input type="text" name="pressure" required="required"/>
				</td>
			</tr>
		</tdead>
        </table>
    <table class="xwtable">
        <div style="padding:3px 2px;border-bottom:1px solid #ccc">心率监护:活动时每5~10min由桡动脉和劲动脉测定一次脉搏，及时调整负荷强度，使其维持在低限和高限之间</div><br/>
        <tdead>
			<tr>
				<td>低限（次/10s）</td>
				<td>
                    <input type="text" name="lowlimit" required="required"/>
				</td>
				<td>高限（次/10s）</td>
				<td>
                    <input type="text" name="highlimit" required="required"/>
			</tr>
		</tdead>
    </table>
    <table class="xwtable">
        <div style="padding:3px 2px;border-bottom:1px solid #ccc">运动数据</div><br/>
		<tdead>
			<tr>
				<td style="width:10%">运动目的：</td>
				<td style="width:90%">
                    <input  style="width:100%" type="text" name="objective"/></td>
			</tr>
						<tr>
				<td style="width:10%">运动项目：</td>
				<td style="width:90%">
                    <input  style="width:100%" type="text" name="project"/></td>
			</tr>
						<tr>
				<td style="width:10%">运动强度：</td>
				<td style="width:90%">
                    <input  style="width:100%" type="text" name="exerciseintensity" value="60%~70%HRmax，相当于50%~60%Vo2max，或心率掌握在120~135次/min"/></td>
			</tr>
		</tdead>
    </table>
    <table class="xwtable">
        <div style="padding:3px 2px;border-bottom:1px solid #ccc">运动内容</div><br/>
		<tdead>
			<tr>
				<td style="width:10%">准备运动：</td>
				<td style="width:90%">
                    <input style="width:100%" type="text" name="readytoexercise"/></td>
			</tr>
            <tr >
				<td style="width:10%">基本运动：</td>
				<td style="width:90%">
                    <input style="width:100%" type="text" name="basicmovement"/></td>
			</tr>
            <tr>
				<td style="width:10%">整理运动：</td>
				<td style="width:90%">
                    <input style="width:100%" type="text" name="finishingmovement" /></td>
			</tr>
		</tdead>
    </table>
    <table class="xwtable">
        <div style="padding:3px 2px;border-bottom:1px solid #ccc">运动时间和频率</div><br/>
		<tdead>
			<tr>
				<td >每次运动时间：</td>
				<td >
                    <input type="text" name="timeofmovement"/></td>
				<td>每周运动时间：</td>
				<td>
                    <input type="text" name="weeklyexercisetime"/></td>
			</tr>
		</tdead>
    </table>
    <table class="xwtable">
        <div style="padding:3px 2px;border-bottom:1px solid #ccc">注意事项</div><br/>
		<tdead>
			<tr>
				<td>一、</td>
				<td style="width:100%">锻炼时感觉轻松或过于吃力时可稍微调节内容和次数</td>
			</tr>
			<tr>
				<td>二、</td>
				<td style="width:100%">以锻炼后第二天不感到疲劳为宜，可每周适当调节运动量</td>
			</tr>
			<tr>
				<td>三、</td>
				<td style="width:100%">严寒、酷暑或身体不适是停止锻炼，不可蛮干</td>
			</tr>
		</tdead>
    </table>
    <table class="xwtable">
        <div style="padding:3px 2px;border-bottom:1px solid #ccc">签字</div><br/>
		<tdead>
			<tr>
				<td>专家签字</td>
				<td>
                    <input type="text" name="expertsignature" required="required"/></td>
				<td>年</td>
				<td>
                    <input type="text" name="year" required="required"/></td>
				<td>月</td>
				<td>
                    <input type="text" name="month" required="required"/></td>
								<td>日</td>
				<td>
                    <input type="text" name="day" required="required"/></td>
			</tr>
		</tdead>
	</table>
    <br>
    <input type="submit" value="保存"/><input type="button" name="button1"  value="返回" onclick="history.go(-1)">
	</form>