<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
		.red{
			background-color: red;
		}
		.desc{
			float: left;
			display: none;
		}
		.show{
			display: block;
		}
		.hide{
			display: none;
		}
    </style>
</head>
<body>
订单号：{$data['out_trade_no']} <br>
申请人：{$data['name']} <br>
申请时间：{$data['addtime']} <br>
联系方式：{$data['phone']} <br>
是否支付：{if condition="$data['is_pay'] == 0"}
				 <span style="color:red">未支付</span>
				{elseif condition="$data['is_pay'] == 1"/}
				 <span style="color:green">已支付</span>
				{/if} <br>
是否生成报告：{if condition="$data['status'] == 0"}
				 <span style="color:red">未生成</span>
				{elseif condition="$data['status'] == 1"/}
				 <span style="color:green">已生成</span>
				{/if} <br>
	<ul style="list-style:none">
	{foreach name="$data['desc']" item="val" key="key" }
		<li style="float:left;margin-right:10px" class="date"><a href="javascript:void(0)">{$key}</a></li>
	{/foreach}
	</ul>
	<br>
	
	{foreach name="$data['desc']" item="val" key="key" }
		<table class="desc" border="1">
		<tr>
			<td>问题</td>
			<td>答案	</td>
		</tr>
		{foreach name="$val" item="v" key="k" }
			<tr>
				<td>{$v.question}</td>
				<td>{$v.answer} </td>
			</tr>
		{/foreach}
		</table>
	{/foreach}
	
</body>
</html>
<script>
	$(".date").click(function(){
		$(this).addClass('red').siblings().removeClass('red');
		var index = $(this).index();
		// alert(index)
		$(".desc").eq(index).addClass('show').siblings().removeClass('show');;
		//$(".desc not:"+index).addClass('hide');
		//alert($(".desc").eq(index).html())
	})
</script>


<button>回复</button>