<style>
	p{text-indent:2em;}
</style>
</head>
<body>

<div data-role="content" style="padding-top: 10%;margin-bottom: 10%">
        <div align="center" style="font-size:20px"><b>知情同意书</b></div>
<p>在您接受本次递增负荷实验、心功指数测量及运动处方之前，您有必要了解关于运动健身的一些相关事宜，请仔细阅读。</p>
<p>递增负荷实验及心功指数测量的目的是准确掌握接受运动处方者的心脏功能能力，从而反映接受运动处方者的身体健康状况，为有针对性地对每一位接受运动处方者制定适当的运动处方或健身计划提供准确的科学依据。经过对实验及测试数据的分析，您可以了解到您的心脏功能能力在同龄人中的水平，也可以得到您进行体育锻炼时应当采取的合理的运动方式和运动强度，从而以科学的健身手段促进您的身体健康。</p>
<p>如果在递增负荷实验、心功指数测量以及执行运动处方过程中或运动后出现如下反应时，可立即停止运动。</p>
<ul>
	<li>1.心率加快、血压升高；</li>
	<li>2.呼吸加快、出汗；</li>
	<li>3.下肢肌肉酸疼、疲劳感；</li>
	<li>4.诱发心电图异常或胸闷、胸痛、胸颈部不适等心血管系统症状；</li>
	<li>5.其他身体不适感等。</li>
</ul>
<p>如果您了解了上述内容，个人的身体状况也可以承受上述实验及测量，同意接受运动处方，请签署本知情同意书。</p>

本人同意.

</div>
