<div class="btn3 clearfix">

        <div class="menu">
            <div class="bt-name"><a data-ajax="false" {if condition="($Request.controller == 'Index') AND ($Request.action == 'index') "} style="color: #00a0e9 !important;" {/if} href="{:url('index/index/index')}">生长发育</a></div>
        </div>
        <div class="menu">
            <div class="bt-name" {if condition="($Request.controller == 'Test')"} style="color: #00a0e9 !important;" {/if} >骨龄测试</div>
            <div class="sanjiao"></div>
            <div class="new-sub">
                <ul >
                    <li><a data-ajax="false" {if condition="($Request.controller == 'Test') AND ($Request.action == 'nowtest') "} style="color: #00a0e9 !important;" {/if} href="{:url('index/test/nowtest')}">现场测试</a></li>
                    <li><a data-ajax="false" {if condition="($Request.controller == 'Test') AND ($Request.action == 'onlinetest') "} style="color: #00a0e9 !important;" {/if} href="{:url('index/test/onlinetest')}" >在线测试</a></li>
                </ul>
                <div class="tiggle"></div>
                <div class="innertiggle"></div>
            </div>
        </div>

        <div class="menu" >
            <div class="bt-name" {if condition="(($Request.controller == 'Index') AND ($Request.action == 'nutrientbalance')) OR ($Request.controller == 'Sportaction')  OR (($Request.controller == 'Index') AND ($Request.action == 'usercenter')) OR ($Request.controller == 'User') OR ($Request.controller == 'Nutrientbalance') "} style="color: #00a0e9 !important;" {/if} >我的</div>
            <div class="sanjiao"></div>
            <div  class="new-sub">
                <ul>
                    <li><a data-ajax="false" {if condition="($Request.controller == 'Sportaction') "} style="color: #00a0e9 !important;" {/if} href="{:url('index/sportaction/index')}">运动处方</a></li>
                    <li><a data-ajax="false"  {if condition="(($Request.controller == 'Index') AND ($Request.action == 'nutrientbalance')) OR ($Request.controller == 'Nutrientbalance') "} style="color: #00a0e9 !important;" {/if} href="{:url('index/index/nutrientBalance')}" >营养均衡指导</a></li>
                    <li><a data-ajax="false" {if condition="(($Request.controller == 'Index') AND ($Request.action == 'usercenter'))  OR ($Request.controller == 'User') "} style="color: #00a0e9 !important;" {/if} href="{:url('index/index/userCenter')}" >个人中心</a></li>
                </ul>
                <div class="tiggle"></div>
                <div class="innertiggle"></div>
            </div>
        </div>

</div>
</div>
<script type="text/javascript">
    //弹出垂直菜单
    $(".menu").click(function() {
        if ($(this).hasClass("cura")) {
            $(this).children(".new-sub").hide(); //当前菜单下的二级菜单隐藏
            $(".menu").removeClass("cura"); //同一级的菜单项
        } else {
            $(".menu").removeClass("cura"); //移除所有的样式
            $(this).addClass("cura"); //给当前菜单添加特定样式
            $(".menu").children(".new-sub").slideUp("fast"); //隐藏所有的二级菜单
            $(this).children(".new-sub").slideDown("fast"); //展示当前的二级菜单
        }
    });
</script>
</body>
</html>
	