</head>
<body>
<div data-role="header">
    <h1>消费记录</h1>
</div>

<div data-role="content"  style="margin-bottom:10%;" id="content">
    <ul data-role="listview" data-inset="true">

        {foreach $cost_list as $vo}
        <li><a href="{:url('index//')}">
            <font color="#00bfff">测试人姓名</font>：
                {foreach name="price_class" item="vp" key="k"}
                    {eq name="$vo.type" value="$k"}{$vp}{/eq}
                {/foreach}
            <span class="ui-li-count" >-{$vo.amount}</span>
        </a></li>
        {/foreach}

    </ul>
</div>
