<div region="west" split="true" title="菜单" style="width:20%;">
<div class="easyui-panel" style="padding:5px;">
    <ul class="easyui-tree">
        <li><!--data-options="state:'closed'"-->
            <span>骨龄后台管理</span>
            <ul>
                <li>
                    <span>测试数据展示</span>
                    <ul>
                        <li>
                            <span><a href="{:url('index/online/index')}" target="tt">在线测试数据</a></span>
                        </li>
                        <li>
                            <span><a href="{:url('index/locale/index')}" target="tt">现场测试数据</a></span>
                        </li>
                        <li>
                            <span><a href="{:url('index/diet/index')}" target="tt">饮食记录卡</a></span>
                        </li>
                        <li>
                            <span><a href="{:url('index/motion/index')}" target="tt">运动记录卡</a></span>
                        </li>
                        <li>
                            <span><a href="{:url('index/prescribe/index')}" target="tt">处方查看</a></span>
                        </li>
                    </ul>
                    </li>
                <li>
                    <span>变动数据</span>
                    <ul>
                        <li>
                            <span><a href="{:url('index/activity/index')}" target="tt">现场数据</a></span>
                        </li>
                        <li>
                            <span><a href="{:url('index/price/index')}" target="tt">金额设置</a></span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
</div>