</head>
<body>
    <!--<div data-role="header">-->
        <!--<h1>现场测试</h1>-->
    <!--</div>-->

    <div data-role="content" style="margin-bottom:10%">

        {if condition="$below_list eq null" /}
            <p style="text-align: center;"><img style="margin-top: 40%" width="30%" height="25%" src="__PUBLIC__/static/img/test/meiyouhuodong.png"/></p>
        {else /}
        <h3 align="center">活动报名</h3>
            <p>地点： <font color="" id="place">{$below_list['l_place']}</font></p>
            <p>开始时间： <font color="" id="stime">{$below_list['l_stime']}</font></p>
            <p>结束时间： <font color="" id="etime">{$below_list['l_etime']}</font></p>
            <p>报名总人数上限： <font color="" id="astrict">{$below_list['list_astrict']}</font>人</p>
            {if condition="$below_list['l_status'] eq 1"/}
                <p><font color="" id="status">活动正在报名中</font></p>
            {else /}
                <p><font color="" id="statu">活动已经截止</font></p>
            {/if}
            <p><font color="red" id="">{$below_list['l_notice']}</font>
            {if condition="$price['p_price'] eq 0"/}
                <p><font name="premium" color="red">本次活动免费</font></p>
            {else /}
                <p>费用： <font name="premium" color="" id="">{$price['p_price']}</font>元人/次</p>
            {/if}
            <p><a data-ajax="false" href="{:url('index/Test/nowList')}">点击查看更多活动情况</a></p>
            <input type="hidden" name="l_id" id="l_id" value="{$below_list['l_id']}">
            <!--<span style="color: green;">近期未发现任何活动痕迹</span>-->
            {if condition="$below_list['l_status'] eq 1"/}
                {if condition="($log eq 0) AND ($price['p_price'] eq 0)"/}
                    <form data-ajax="false" method="post" id="form_onlinetest" name="form_onlinetest" action="{:url('index/test/nolog')}">

                    <div class="ui-field-contain">
                            <ul data-role="listview" data-inset="true">
                                <li data-role="list-divider">
                                    请填写报名信息 <font color="red">• 必填</font>
                                </li>
                            </ul>
                            <label for="username"><font color="red">• </font>姓名:</label>
                            <input type="text" name="username" id="username" value="" data-clear-btn="true" class="forms">

                            <label for="tell"><font color="red">• </font>手机:</label>
                            <input type="text" name="tell" id="tell" value="" data-clear-btn="true" class="forms">
                    </div>

                    <div data-role="navbar" class="ui-content" id="button">
                        <ul>
                            <li></li>
                            <li><a class="ui-btn ui-btn-inline ui-shadow ui-corner-all" href="javascript:void (0)" data-rel="dialog" id="form_submit">报名</a></li>
                            <li></li>
                        </ul>
                    </div>

                    </form>
                {elseif condition="($log eq 1)" /}
                    <form action="{:url('index/test/nowTest_pro')}">
                    <input type="hidden" name="l_id" value="{$below_list['l_id']}">
                    {if condition="$info neq null"}
                        <br>
                        <div class="ui-field-contain">
                            <label for="predict_height">预测身高:</label>
                            <select name="predict_height" id="predict_height" data-role="flipswitch">
                                <option value="0">不要</option>
                                <option value="1">要</option>
                            </select>
                        </div>
                        <br>
                        <p>性别： <font color="" id="">
                            {if condition="$info['gender'] eq 1"/}男
                            {else/}女
                            {/if}
                        </font></p>
                        <p>出生日期： <font>{$info['birthday']}</font></p>
                        <p>身份证号： <font>{$info['id_number']}</font></p>
                        <p>出生时身高： <font>{$info['birth_height']}cm</font></p>
                        <p>出生时体重： <font>{$info['birth_weight']}kg</font></p>
                        <p>是否顺产： <font>
                            {if condition="$info['birth_smoothly'] eq 1"/}是
                            {else/}否
                            {/if}
                        </font></p>
                        <p>父亲身高： <font>{$info['father_height']}cm</font></p>
                        <p>母亲身高： <font>{$info['mother_height']}cm</font></p>
                        <p>地址： <font>{$info['contact_address']}</font></p>
                        <p>邮件： <font>{$info['email']}</font></p>
                        <p>学校： <font>{$info['school']}</font></p>
                        {if condition="$info['gender'] eq 1"/}
                            <div class="ui-field-contain">
                                <label for="menarche">是否遗精:</label>
                                <select name="spermatorrhea" id="menarche" data-role="flipswitch">
                                    <option value="0">否</option>
                                    <option value="1">是</option>
                                </select>
                            </div>
                        {else/}
                            <div class="ui-field-contain">
                                <label for="menarche">是否初潮:</label>
                                <select name="menarche" id="menarche" data-role="flipswitch">
                                    <option value="0">否</option>
                                    <option value="1">是</option>
                                </select>
                            </div>
                        {/if}
                        <div class="ui-field-contain">
                            <label for="need_report">纸质报告:</label>
                            <select name="need_report" id="need_report" data-role="flipswitch">
                                <option value="0">不要</option>
                                <option value="1">要</option>
                            </select>
                        </div>
                    {elseif condition="($info eq null) AND ($log eq 1)" /}
                        <br>
                        <br>
                        <p>请去完善信息</p>
                    {/if}
                    <div data-role="navbar" class="ui-content" id="buttom">
                        <ul>
                            <li></li>
                            <li><a class="ui-btn ui-btn-inline ui-shadow ui-corner-all" href="javascript:void (0)" data-rel="dialog" id="form_submits">报名</a></li>
                            <li></li>
                        </ul>
                    </div>
                 </form>
                {elseif condition="($log eq 0) AND ($price['p_price'] neq 0)" /}
        <a  class="ui-btn ui-btn-inline ui-shadow ui-corner-all" href="{:url('index/login/index')}" data-ajax="false" data-rel="dialog" id="">去登陆</a>
                {/if}
            {/if}
        {/if}
    </div>
    <script>
        $(function () {
            var price = "{$price['p_price']}";
            $('#form_submit').click(function () {
                if(price!=0){
                    $.get("{:url('index/test/ajax_login_status')}",function (date) {
                        if(date==0){
                            window.location.href="{:url('index/login/index')}"
                        }
                    })
                }else{
                    autosubmit()
                }
            })
            $("#form_submits").click(function () {
                $.get("{:url('index/test/ajaxcheck')}",{l_id:"{$below_list['l_id']}"},function (date) {
                    if(date==1) {
                        alert("活动不存在");
                    }else if(date==2) {
                        alert("报名已截止");
                    }else if(date==3) {
                        alert("活动开始了不能报名");
                    }else if(date==4){
                        alert("报名人数已达上限");
                    }else if(date==5) {
                        var l_id = $("#l_id").val();
                        var need_report = $("#need_report").val();
                        var predict_height=$('#predict_height').val();
                        var menarche=$('#menarche').val();
                        $.post("{:url('index/test/nowTest_pro')}",{l_id:l_id,need_report:need_report,predict_height:predict_height,menarche:menarche},function (data) {
                            if (data == 0) {
                                alert("该账号本次活动已经报名了")
                            } else if (data == -1) {
                               alert("报名失败")
                            } else {
                                alert("报名成功")
                                window.location.href = "{:url('index/user/see')}"+'?r='+data;
                            }
                        })
                    }
                })
            })
        });


        /**
         * 检测数据和提交
         */
        function autosubmit() {
            var status=1;

            //姓名
            if(!$('#username').val()){
                status=0;
                alert('姓名不能为空。');
                return
            }
            //手机号
            var reg_phone=/^1[3,5,8]\d{9}$/;
            if(!reg_phone.test($('#tell').val())){
                status=0;
                alert('手机号错误。');
                return
            }

            if(status){
                $.get("{:url('index/test/ajaxcheck')}",{l_id:"{$below_list['l_id']}"},function (date) {
                    if(date==1) {
                        alert("活动不存在");
                    }else if(date==2) {
                        alert("报名已截止");
                    }else if(date==3) {
                        alert("活动开始了不能报名");
                    }else if(date==4){
                        alert("报名人数已达上限");
                    }else if(date==5) {
                       var username = $("#username").val();
                       var tell = $("#tell").val();
                       var l_id = $("#l_id").val();
                        $.post("{:url('index/test/nolog')}",{username:username,tell:tell,l_id:l_id},function (data) {
                        if(data==0){
                            alert("该手机号已经报名了")
                        }else if(data==1){
                            alert("报名成功")
                        }else if(data==2){
                            alert("失败了")
                        }
                        })
                    }
                })
            }
        }

        //根据 “预测身高” 变化
        $('#predict_height').on('change',function() {
            //获取select的值
            var predict_height=$('#predict_height').val();
            //筛选出 premium对象（加价）
            var premium=$("font[name='premium']");

            $.ajax({
                url:"{:url('index/test/ajax_prices')}",
                data:{predict_height:predict_height},
                type:"get",
                dataType:'json',
                success:function (price_arr) {
                    if(price_arr.p_price==0 && predict_height==0){
                        premium.html("本次活动免费")
                    }else if(price_arr.p_price==0 && predict_height==1){
                        premium.html(price_arr.p_name+"免费")
                    }else if(price_arr.p_price!=0 && predict_height==0){
                        premium.html(price_arr.p_name+"："+price_arr.p_price)
                    }else if(price_arr.p_price!=0 && predict_height==1){
                        premium.html(price_arr.p_name+"："+price_arr.p_price)
                    }
                },
                error:function () {
                    alert('异常，连接失败！')
                }
            });
        });
    </script>
