
<link rel="stylesheet" href="__PUBLIC__/static/css/new_file2.css" />
<script type="text/javascript">

    document.addEventListener('plusready', function(){
        //console.log("所有plus api都应该在此事件发生后调用，否则会出现plus is undefined。"

    });

</script>
</head>
<body>
<div class="warp">
    <section>
        <div class="main1">
            <img src="__PUBLIC__/static/img/user/1_03.jpg"/><h1>订单取消成功</h1>
        </div>
        <div class="main2">
            <a data-ajax="false"  href="{:url('user/'.$action)}"><img src="__PUBLIC__/static/img/user/fanhui.png"/></a>
        </div>
    </section>

</div>