<head>

</head>
<body>
<div style="margin-bottom: 20px;">
<h2 style="margin-bottom: 20px;">公司介绍</h2>
<p>"北京华体健康管理中心"---其前身是成立于上世纪90年代的"北京康安""北京华体健康管理中心"---其前身是成立于上世纪90年代的"北京康安""北京华体健康管理中心"---其前身是成立于上世纪90年代的"北京康安""北京华体健康管理中心"---其前身是成立于上世纪90年代的"北京康安""北京华体健康管理中心"---其前身是成立于上世纪90年代的"北京康安""北京华体健康管理中心"---其前身是成立于上世纪90年代的"北京康安""北京华体健康管理中心"---其前身是成立于上世纪90年代的"北京康安"</p>
</div>
<div style="background-color:#ffffff;width: 100%;height: 20px;"></div>
<div >
    <h2>公司介绍</h2>
    <p>"北京华体健康管理中心"---其前身是成立于上世纪90年代的"北京康安""北京华体健康管理中心"---其前身是成立于上世纪90年代的"北京康安""北京华体健康管理中心"---其前身是成立于上世纪90年代的"北京康安""北京华体健康管理中心"---其前身是成立于上世纪90年代的"北京康安""北京华体健康管理中心"---其前身是成立于上世纪90年代的"北京康安""北京华体健康管理中心"---其前身是成立于上世纪90年代的"北京康安""北京华体健康管理中心"---其前身是成立于上世纪90年代的"北京康安"</p>
</div>
</body>