</head>
<body>
    <div data-role="header">
        <h1>{$name}</h1>
    </div>
<div data-role="content" style="padding-top: 10%;margin-bottom: 10%">   
    <p style="line-height: 2em;font-size: 18px;">
           <span style="float: left;"><a href="javascript:void" onClick="javascript:history.go(-1);" data-role="button">返回</a></span>
    </p> 
    <div style="clear: both;"></div>  
     <ul data-role="listview" data-inset="true">
     {foreach name='list' item='value'}
      <li>
        <a href="{:url('user/see')}?r={$value.o_id}" data-ajax="false">
        <h2>订单：{$value.out_trade_no}</h2>
        <p>{$value.addtime}</p>
        </a>
      </li>
      {/foreach}
    </ul>   
</div>
