<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/list/style2.css" />
</head>

<body>

<div class="warp">
    <section>
        {if condition="($type == 3)"}
        <div class="content">
            <div class="left" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=3" style="font-weight: normal"><font color="#40C4E1">在线测试</font></a>
            </div>
            <div class="right" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=4" style="font-weight: normal"><font color="black">现场测试</font></a>
            </div>
            <div class="right" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=5" style="font-weight: normal"><font color="black">团体测试</font></a>
            </div>
        </div>
        {elseif condition="($type == 4)"/}
        <div class="content">
            <div class="right" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=3" style="font-weight: normal"><font color="black">在线测试</font></a>
            </div>
            <div class="left" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=4" style="font-weight: normal"><font color="#40C4E1">现场测试</font></a>
            </div>
            <div class="right" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=5" style="font-weight: normal"><font color="black">团体测试</font></a>
            </div>
        </div>
        {else /}
        <div class="content">
            <div class="right" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=3" style="font-weight: normal"><font color="black">在线测试</font></a>
            </div>
            <div class="right" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=4" style="font-weight: normal"><font color="black">现场测试</font></a>
            </div>
            <div class="left" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=5" style="font-weight: normal"><font color="#40C4E1">团体测试</font></a>
            </div>
        </div>
        {/if}
        {if condition="($list == '0')"}
        <img src="__PUBLIC__/images/empty.png" alt="">
        {else /}
        {if condition="($type != 5)"/}
        {foreach name='list' item='value'}
        <div class="box1">
            <div class="box2">
                <h1>订单编号:<font size="1px">{$value.out_trade_no}</font></h1>
                <h2><a data-ajax="false" style="font-weight: normal;color: black;" href="{:url('user/see')}?r={$value.o_id}">查看</a></h2><div class="box-right"> </div>
            </div>
            <div class="box3">
                <h3>测试项目:线上测试+身高测试</h3>
                <h4>测试时间:{$value.addtime}</h4>
            </div>
            <div class="box4">
                <h5></h5>
                <p>实付款:<span>¥:{$value.amount}</span></p>
            </div>
        </div>
        {/foreach}
        {else/}
        <div>
                <label for="search-2" style="margin-top:10px;">学号:</label>
                <input type="search" name="search-2" id="name" value="">
                <label for="search-2">姓名:</label>
                <input type="search" name="search-2" id="num" value="">
                <button id="search">搜索</button>
            <div style="background: white;">
                <div id="img">
                </div>
            </div>
        </div>
        {/if}
    </section>
</div>
<footer style="background-color: #ffffff"></footer>
{/if}
<script>
    $(function(){
        $('#search').click(function(){
            var name = $('#name').val();
            var num = $('#num').val();
            if(name==''){
                alert("姓名不能为空");
                return false;
            }
            if(num==''){
                alert("学号不能为空");
                return false;
            }
            $.ajax({
                type: "POST",
                url: "{:url('user/search')}",
                data: {name:name,num:num},
                dataType: 'json',
                success: function(msg){
                    if(msg == 1){
                        alert('"系统内部错误，正在维护,请稍等..."')
                    }else if(msg == 2 ){
                        alert('您查找的数据不存在！');
                    }else{
                        var a = '<ul data-role="listview" style="line-height:30px">';
                        $.each(msg,function(k,v){
                            var date = new Date(parseInt(v.date) * 1000).toJSON().slice(0,10)
                            date = date.replace(/-/g,'')
                            a += '<li><a data-ajax="false" target="_blank" style="margin-left: 5%;color: black;"  href="pdf?name='+date+'/'+v.name+'_'+v.num+v.date+'.pdf'+'"'+'>'+v.name+'_'+v.title+v.date+'</a><hr style="background-color: #ddd;border: none;height: 1px;"></li>';
                        })
                        a += '</ul>'
                        $("#img").html(a);
                    }
                }
            })
        })
    })
</script>