<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/list/style2.css" />
</head>

<body>

<div class="warp">
    <section>
        {if condition="($type == 3)"}
        <div class="content">
            <div class="left" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=3" style="font-weight: normal"><font color="#40C4E1">在线测试</font></a>
            </div>
            <div class="right" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=4" style="font-weight: normal"><font color="black">现场测试</font></a>
            </div>
            <div class="right" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=5" style="font-weight: normal"><font color="black">团体测试</font></a>
            </div>
        </div>
        {elseif condition="($type == 4)"/}
        <div class="content">
            <div class="right" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=3" style="font-weight: normal"><font color="black">在线测试</font></a>
            </div>
            <div class="left" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=4" style="font-weight: normal"><font color="#40C4E1">现场测试</font></a>
            </div>
            <div class="right" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=5" style="font-weight: normal"><font color="black">团体测试</font></a>
            </div>
        </div>
        {else /}
        <div class="content">
            <div class="right" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=3" style="font-weight: normal"><font color="black">在线测试</font></a>
            </div>
            <div class="right" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=4" style="font-weight: normal"><font color="black">现场测试</font></a>
            </div>
            <div class="left" style="width: 33%">
                <a data-ajax="false" href="{:url('user/report')}?type=5" style="font-weight: normal"><font color="#40C4E1">团体测试</font></a>
            </div>
        </div>
        <!--后期 开发（张高伟）-->
        <div class="content">
            <div class="right" style="width: 50%">
                <a data-ajax="false" href="javascript:void(0)" style="font-weight: normal"><font color="#40C4E1" class="c1" id="id1" >学号测试</font></a>
            </div>
            <div class="right" style="width: 50%">
                <a data-ajax="false" href="javascript:void(0)" style="font-weight: normal"><font class="c1" id="id2"  color="black">日期测试</font></a>
            </div>
        </div>

        {/if}
        {if condition="($list == '0')"}
        <img src="__PUBLIC__/images/empty.png" alt="">
        {else /}
        {if condition="($type != 5)"/}
        {foreach name='list' item='value'}
        <div class="box1">
            <div class="box2">
                <h1>订单编号:<font size="1px">{$value.out_trade_no}</font></h1>
                <h2><a data-ajax="false" style="font-weight: normal;color: black;" href="{:url('user/see')}?r={$value.o_id}">查看</a></h2><div class="box-right"> </div>
            </div>
            <div class="box3">
                <h3>测试项目:线上测试+身高测试</h3>
                <h4>测试时间:{$value.addtime}</h4>
            </div>
            <div class="box4">
                <h5></h5>
                <p>实付款:<span>¥:{$value.amount}</span></p>
            </div>
        </div>
        {/foreach}
        {else/}
        <div  class="id1">
            <label for="search-2" style="margin-top:10px;">学号:</label>
            <input type="search" name="search-2" id="name" value="">
            <label for="search-2">姓名:</label>
            <input type="search" name="search-2" id="num" value="">
            <button id="search">搜索</button>
            <div style="background: white;">
                <div id="img">
                </div>
            </div>
        </div>
        <!--后期 开发（张高伟）-->
        <div  class="id2" style="display: none">
            <label for="search-2" style="margin-top:10px;">出生日期:</label>
            <input type="search" name="search-2"  value="" id="date" placeholder="1993-11-11">
            <label for="search-2">姓名全拼:</label>
            <input type="search" name="search-2"  value="" id="title" placeholder="zhanggaowei">
            <button id="search1">搜索</button>
            <div style="background: white;">
                <div id="img_show">
                </div>
            </div>
        </div>
        {/if}
    </section>
</div>
<footer style="background-color: #ffffff"></footer>
{/if}
<script>
    $(function(){
        $('#search').click(function(){
            var name = $('#name').val();
            var num = $('#num').val();
            if(name==''){
                alert("姓名不能为空");
                return false;
            }
            if(num==''){
                alert("学号不能为空");
                return false;
            }
            $.ajax({
                type: "POST",
                url: "{:url('user/search')}",
                data: {name:name,num:num},
                dataType: 'json',
                success: function(msg){
                    if(msg == 1){
                        alert('"系统内部错误，正在维护,请稍等..."')
                    }else if(msg == 2 ){
                        alert('您查找的数据不存在！');
                    }else{
                        var a = '<ul data-role="listview" style="line-height:30px">';
                        $.each(msg,function(k,v){
                            var date = new Date(parseInt(v.date) * 1000).toJSON().slice(0,10)
                            date = date.replace(/-/g,'')
                            a += '<li><a data-ajax="false" target="_blank" style="margin-left: 5%;color: black;"  href="pdf?date='+date+'&name='+v.name+'_'+'&num='+v.num+'&date2='+v.date+'.pdf'+'"'+'>'+v.name+'_'+v.title+v.date+'</a><hr style="background-color: #ddd;border: none;height: 1px;"></li>';
                        })
                        a += '</ul>'
                        $("#img").html(a);
                    }
                }
            })
        })
    })


    //点击切换测试
    $('.c1').click(function(){
        var check=$(this).attr('id');
        if(check=='id1'){
            $('#'+check).css('color','#40C4E1');
            $('.'+check).show();
            $('#id'+2).css('color','black');
            $('.id'+2).hide();
        }else{
            $('#'+check).css('color','#40C4E1');
            $('#id'+1).css('color','black');
            $('.id'+1).hide();
            $('.'+check).show();
        }
    })

    //按姓名全拼，年月日搜索
    $('#search1').click(function(){
        var date = $('#date').val();
        var title = $('#title').val();
        if(date==''){
            alert("日期不能为空");
            return false;
        }
        if(title==''){
            alert("姓名不能为空");
            return false;
        }
        $.ajax({
            type: "POST",
            url: "{:url('user/search_date')}",
            data: {date:date,title:title},
            dataType: 'json',
            success: function(msg){
                if(msg == 1){
                    alert('"系统内部错误，正在维护,请稍等..."')
                }else if(msg == 2 ){
                    $("#img_show").html('');
                    alert('您查找的数据不存在！');
                }else{
                    var a = '<ul data-role="listview" style="line-height:30px">';
                    $.each(msg,function(k,v){
                        a += '<li><a data-ajax="false" target="_blank" style="margin-left: 5%;color: black;"  href="pdf?date='+v.add_time+'&date='+v.add_time+'&title='+v.title+'&date2='+v.date+'_'+v.title+'.pdf'+'"'+'>'+v.date+'_'+v.title+'</a><hr style="background-color: #ddd;border: none;height: 1px;"></li>';
                    })
                    a += '</ul>'
                    $("#img_show").html(a);
                }
            }
        })

    })

</script>